target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.settings
.classpath
.project
.DS_Store
node_modules
_site
_site/
_dist/
sea-modules
sea-modules/
dist
_dist/
.idea/
.watsonrc
.settings*
Thumbs.db
.cache
*.diff
*.patch
*.bak
cms
.svn
uisvrTruck
*.log
.build/
cert/
files/
config/
npm-debug.log
